* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.contentBox {
  display: grid;
  width: 95%;
  margin: 10px auto;
  padding: 20px 10px;
  border-radius: 0.4rem;
  grid-template-columns: 25% 25% 25% 25%;
  background: #fff;
  box-shadow: 2px -2px 10px 1px rgba(0, 0, 0, 0.4);
  user-select: none;
}

.contentBox.red {
  border-right: 8px solid red;
}
.contentBox > div {
  display: block;
}
.contentBox > div.last {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contentBox > div span {
  display: block;
}

#results {
  max-height: 500px;
  overflow-y: auto;
}

#results::-webkit-scrollbar {
  display: none;
}
