* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

.contentBox {
  display: grid;
  width: 98%;
  margin: 10px auto;
  padding: 20px 10px;
  border-radius: 0.4rem;
  grid-template-columns: 25% 25% 25% 25%;
  background: #fff;
  border: 1px solid #cccccc8c;
  user-select: none;
  transition: all ease 0.5s;
}

@media (max-width: 760px) {
  .contentBox {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .contentBox > div {
    display: block;
    margin: 10px auto;
  }
}
.contentBox:hover,
.contentBox:focus,
.contentBox:active {
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.4);
}

.contentBox.red {
  border-right: 8px solid red;
}

.contentBox > div {
  display: block;
}

.contentBox > div.last {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contentBox > div span {
  display: block;
}

.contentBox > div small {
  padding: 3px 5px;
  border-radius: 0.8rem;
  background: rgb(61, 61, 220);
  color: #fff;
  font-size: 13px;
  font-weight: 600;
}

#results {
  max-height: 500px;
  overflow-y: auto;
}

#results::-webkit-scrollbar {
  display: none;
}
